<main>

    <!-- if no city data is present then show input for searching a city -->
    <div id="city-input-div" *ngIf="showCityInput" class=" container-fluid">
        <label >
            <input type="text" placeholder="city" (keyup.enter)="keyEnterPressed()" [(ngModel)]="cityName" class="p-font">
        </label>

        <button class="bg-info pl-2 pr-2 pl-md-4 pr-md-4 ml-md-2"><i class="fas fa-search text-white"></i></button>
    </div>

    <!-- if city data is present then display option for edit -->
    <div *ngIf="!showCityInput" class="d-flex">
        <i id="edit-btn" class="fas fa-edit ml-auto" (click)="editClicked()"></i>
    </div>

    <!-- using flex to show data -->
    <div *ngIf="cityData" id="city-data">

        <!-- show weather data -->
        <div id="weather-data">
            <p class="p-font p-color">{{cityData.name}}</p>
            <h3 class="text-center mt-4">{{cityData.main.temp}}&#8451;</h3>
        </div>

        <!-- show weather image -->
        <div id="weather-img" *ngIf="currentImg">
            <img class="img-fluid" src="{{currentImg}}" alt="icon">

            <p class="p-font p-color">{{cityData.weather[0].main}}</p>
        </div>
    </div>

    <!-- if no data is found then display not found msg -->
    <div class="mt-4 text-center text-danger p-font">
        <p *ngIf="!dataIsFound">not found search again</p>
    </div>
</main>
